/*# Empty CSS file for your own CSS*/
body{
    font-family: 'Open Sans', sans-serif;

}

.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, 
.bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}
.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} 
.asteriskField{color: red;}

.warning { /* You can also use .element.text:focus here */
  border-color: #ff0000;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
} 

.normal{
    
}
.tg  {border-collapse:collapse;border-spacing:0;border-color:#bbb;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#594F4F;background-color:#E0FFEB;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#493F3F;background-color:#9DE0AD;}
.tg .tg-m1lt{color:#ffccc9;vertical-align:top}


/*//jdatatable for */
/* Ensure that the demo table scrolls */
    .dataTable th, .dataTable td { white-space: nowrap; }
    div.dataTables_wrapper {
        margin: 0 auto;
    }
 
    div.container {
        width: 80%;
    }
    
    
    
 



/*loading css*/
div .circle {
    margin-left: 850px;
    width: 200px;
    height: 200px;
    border-left: 4px dashed red;
    border-top : 4px dashed red;
    border-radius: 100px;
    animation:spinnerRotate 2s linear infinite;
    -webkit-animation:spinnerRotate 2s linear infinite;
}
@keyframes spinnerRotate {
    0% {
        transform : rotate(0deg)
    }
    100% {
        transform : rotate(360deg)
    }
}